body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.col-bg{
	background-color: #8e8e8e;
	margin:3px auto;
	border:1px solid #ff0000;
}
hr{
	border-top: 1px solid #00ff00;
}